.music-list {
  padding: 0 .5rem;

  --bg-color: rgba(235 238 238 / .8);
  --bd-color: 85 85 87;
  --color: rgba(22 22 23 / .8);
  --info-color: #666;
  --chapter-color: #444;
}
.dark .music-list {
  --bg-color: rgba(40 40 42 / .8);
  --bd-color: 180 180 178;
  --color: rgba(255 255 245 / .8);
  --info-color: #666;
  --chapter-color: #888;
}

.chapter-title {
  margin: 1rem 0;
  text-align: center;
  font-family: 有爱圆体, fantasy;
  p {
    margin: 0;
    line-height: 1.5em;

    &:nth-child(1) {
      font-size: smaller;
      color: var(--chapter-color);
    }

    &:nth-child(2) {
      font-weight: 600;
      font-size: large;
      letter-spacing: .2em;
      cursor: pointer;
    }
  }
}

.chapter-list.playing .chapter-title p:nth-child(2) {
  color: rgb(68 182 165);

  .play-sym {
    margin: 0 .5em;
  }

  .title {
    animation: blinking 2s alternate infinite;
    animation-delay: var(--delay, 0);
  }
}

@keyframes blinking {
  from {
    opacity: 1;
    filter: blur(0);
  }

  to {
    opacity: 0.6;
    filter: blur(.5px);
  }
}

.audio-info {
  font-family: 有爱圆体, sans-serif;
  display: flex;

  .play-btn {
    margin-right: .25rem;
    .icon {
      transition: all .08s ease-in-out;
      width: 0px;
      height: 0px;
    }
  }
  .index {
    margin: 0 .8rem 0 .1rem;
    color: var(--info-color);
  }
  .name {
    width: auto;
    overflow: hidden;
    margin-right: auto;
    color: var(--color);
    white-space: nowrap;
  }
  .artist {
    margin-left: .5em;
    max-width: 40%;
    min-width: 3em;
    overflow: hidden;
    font-size: .8rem;
    color: var(--info-color);
    white-space: nowrap;
  }
}

.music-card {
  --bd-opacity: 0;
  margin-bottom: .75rem;
  padding: .5rem;
  background-color: var(--bg-color);
  border-radius: .5rem;
  border-width: .125rem;
  border-color: rgba(var(--bd-color) / var(--bd-opacity));
  cursor: pointer;

  &.playing {
    --bd-opacity: .75;
    --bd-color: 68 182 165;
  }

  &:hover {
    transition: all .1s ease-in;
    --bd-opacity: 1;
    &:not(.playing) .play-btn {
      display: inline-block;

      .icon {
        width: 15px;
        height: 15px;
      }
    }
  }
}
